/*--------------------------------//
//                                //
//              Card              //
//                                //
//--------------------------------*/
.card-list {
	position: absolute;
	transform: translate(-50%, -50%);
	left: 50%;
	top: 50%;
}

.card {
	color: var(--color-background-text);
	background-color: var(--color-background);
	border-radius: 0.25em;
	cursor: pointer;
	margin-bottom: 1em;
}

.card:hover {
	background-color: var(--color-background);
}

.card .header {
	display: flex;
}

.card .thumbnail {
    width: 2.5em;
    height: 2.5em;
    border-radius: 100em;
    -webkit-border-radius: 100em;
    -moz-border-radius: 100em;
    display: block;
	padding: 1em;
}

.card .header-text {
	padding-top: 0.5em;
}

.card .header-title {
	font-weight: bold;
	line-height: 2.125rem;
}

.card .header-subtitle {
	font-weight: bold;
	opacity: 0.4;
}

.card .media {
    /*width: 688px;*/
	height: 0;
    display: block;
	transition: height .1s cubic-bezier(.4,0,.2,1);
}

.card img:last-child {
	border-bottom-left-radius: 0.25em;
	border-bottom-right-radius: 0.25em;
}

.card.selected {
	cursor: default;
}

.card.selected:hover {
	background-color: none;
}

.card.selected .media {
	height: 50vh;
}