/*--------------------------------//
//                                //
//              Card              //
//                                //
//--------------------------------*/
.card-list {
	position: absolute;
	transform: translate(-50%, -50%);
	left: 50%;
	top: 50%;
}

.card {
	color: #000;
	color: var(--color-background-text);
	background-color: #FFF;
	background-color: var(--color-background);
	border-radius: 0.25em;
	cursor: pointer;
	margin-bottom: 1em;
}

.card:last-child {
	margin-bottom: 0;
}

.card .header {
	display: flex;
}

.card .thumbnail {
    width: 2.5em;
    height: 2.5em;
    border-radius: 100em !important;
    -webkit-border-radius: 100em !important;
    -moz-border-radius: 100em !important;
    display: block;
	margin: 1em;
}

.card .header-text {
	padding-top: 0.5em;
}

.card .header-title {
	font-weight: bold;
	line-height: 2.125rem;
}

.card .header-subtitle {
	font-weight: bold;
	opacity: 0.65;
}

.card .media {
	height: 0;
    width: 50vw;
    display: block;
	object-fit: cover;
	
	-webkit-transition: height .5s ease;
	-o-transition: height .5s ease;
	-ms-transition: height .5s ease;
	transition: height .5s ease;
}

.card img:last-child {
	border-bottom-left-radius: 0.25em;
	border-bottom-right-radius: 0.25em;
}

.card.selected {
	cursor: default;
}

.card.selected .media {
	height: 50vh;
}

.card .buttons {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
}