html {
	height: 100%;
}

body {
	min-height: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
    flex-direction: column;
	
	/* Prevent text selection. */
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

main {
	-webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.sheet {
	position: relative;
    height: calc(100vh - 4.5em); /* The header bar is 4.5em. */
    overflow: hidden;
	z-index: 0;
	background-color: black;
}

.sheet:first-child {
	margin-top: 4.5em; /* The header bar is 4.5em. */
}

.sheet-background, .sheet-background::after {
	height: auto;
	min-height: 100%;
	width: 100%;
	position: absolute;
	
	top: 0;
	left: 0;
}

.sheet-background {
	object-fit: cover;
	
	/* Use this if filter is supported. */
	filter: blur(3px);
	transform: scale(1.05);
}

.sheet-background img {
	width: 100%;
}

.sheet-background::after {
	content: "";
	
	/* If filter is supported, this has opacity 0 and so is hidden.
	   If filter is not supported this will put a 0.5 opacity layer over the image. */
	background: rgba(0,0,0, 0.5);
	filter: opacity(0);
}

@media only screen and (max-device-width: 480px) {
	.sheet {
		height: calc(100vh - 9em); /* The header bar is 9em. */
	}

	.sheet:first-child {
		margin-top: 9em; /* The header bar is 9em. */
	}
}