/*--------------------------------//
//                                //
//            Snackbar            //
//                                //
//--------------------------------*/
.snackbar {
	position: fixed;
	transform: translate(-50%, -50%);
    left: 50%;
	bottom: -5em;
	min-width: 21.5em;
	min-height: 3em;
	
	background-color: #000000;
	/*opacity: 0.8;*/
	color: #FFF;
	
	align-content: center;
	
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 0.25em;
	
	transition: bottom 1s ease;
}

.snackbar-text {
	padding-left: 1em;
	margin-right: auto;
}

.snackbar-action {
	
}

.snackbar-close {
	
}