/*--------------------------------//
//                                //
//             Button             //
//                                //
//--------------------------------*/
.buttons {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.button {
	color: #6200EE;
	color: var(--color-primary);
	box-sizing: border-box;
	position: relative;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer;
	outline: 0;
	border: none;
	-webkit-tap-highlight-color: transparent;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	flex-direction: column;
	white-space: nowrap;
	vertical-align: baseline;
	margin: 0;
	min-width: 4em;
	padding: 0 1em;
	margin: .5em;
	border-radius: 0.25em;
	overflow: visible;

	font-size: .875rem;
	line-height: 2.25rem;
	letter-spacing: 0.078125rem;
	font-weight: 700;
	
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
}

.buttons .button {
	width: calc(50% - 1em);
}

.button::before {
	background-color: #6200EE;
	background-color: var(--color-primary);
	opacity: 0;
	transition: opacity .2s ease;
	border-radius: 0.25em;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	content: "";

	/* Added to prevent buttons moving when hovered. */
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.button:hover::before,
.button:focus::before {
	opacity: 0.2;
}

.button:active::before {
	opacity: 0.4;
}

.button__text {
	font-size: 1.25rem;
	line-height: 2rem;
	letter-spacing: 0.009375rem;
	font-weight: 400;
}

.button-text {
	display: inline-flex;
	margin: 0;
}

.button-icon-text  .button__text {
	padding-bottom: 0.25rem;
}

.button-icon-text  svg {
	height: 1.5rem;
	padding-top: 0.75rem;
	fill: #6200EE;
	fill: var(--color-primary);
}

@media only screen and (min-device-width: 600px) {
	.buttons .button {
		width: calc(25% - 1em);
	}
}