.sheet {
	position: relative;
	height: calc(100vh - 4.5em); /* The header bar is 4.5em. */
	overflow: hidden;
	z-index: 0;
}

.sheet:first-child {
	margin-top: 4.5em; /* The header bar is 4.5em. */
}

.sheet__background img {
	height: 100%;
	width: 100%;
	object-fit: cover;

	/* If filter is not supported this will put a 0.5 opacity layer over the image. */
	opacity: 0.5;
}

/* If filter is supported it applies the filter and removes the opacity. */
@supports (filter: blur(3px)) {
	.sheet__background img {
		opacity: 1;
		filter: blur(3px);
		transform: scale(1.05);
	}
}

@media only screen and (max-device-width: 480px) {
	.sheet {
		height: calc(100vh - 9em); /* The header bar is 9em. */
	}

	.sheet:first-child {
		margin-top: 9em; /* The header bar is 9em. */
	}
}
