/*--------------------------------//
//                                //
//              Card              //
//                                //
//--------------------------------*/
.cards {
	position: absolute;
	transform: translate(-50%, -50%);
	left: 50%;
	top: 50%;
}

.card {
	color: #000;
	color: var(--color-background-text);
	cursor: pointer;
	margin-bottom: 1em;
	z-index: 1;
	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}

.card:hover,
.card:focus {
	z-index: 8;
	box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.card:last-child {
	margin-bottom: 0;
}

.card__header {
	background-color: #FFF;
	background-color: var(--color-background);
}

.card__header-button {
	align-items: center;
	display: flex;
	padding: 0 1em;
	border-radius: 0.25em;
	width: 100%;
}

.card__thumbnail img {
	background-color: #FFF;
	width: 2.5em;
	height: 2.5em;
	border-radius: 100em !important;
	-webkit-border-radius: 100em !important;
	-moz-border-radius: 100em !important;
	display: block;
	margin: 1em 1em 1em 0;
}

.card__header-text {
	padding: 0.5em 0;
	text-align: left;
}

.card__header-title {
	font-size: 1.25rem;
	line-height: 1.25;
	font-weight: 700;
	font-family: var(--font-monospace);
}

.card__header-subtitle {
	opacity: 0.65;
	font-size: .875rem;
	line-height: 1.25;
	font-weight: 500;
}

.card__media img {
	height: 0.0001vh;
	width: 90vw;
	display: block;
	object-fit: cover;
}

body[data-prefers-reduced-motion="false"] .card__media img {
	transition: height .5s ease;
}

.card picture:last-child img {
	border-bottom-left-radius: 0.25em;
	border-bottom-right-radius: 0.25em;
}

.card[data-state="open"] {
	cursor: default;
	z-index: 8;
	box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.card[data-state="open"] .card__header {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.card[data-state="open"] .card__media img {
	height: calc(57 * 90vw / 100); /* 100:57 aspect ratio */
}

.card__footer {
	background-color: #FFF;
	background-color: var(--color-background);
	border-bottom-left-radius: 0.25em;
	border-bottom-right-radius: 0.25em;
}

@media only screen and (min-device-width: 480px) {
	.card__media img {
		width: 70vw;
	}

	.card[data-state="open"] .card__media img {
		height: calc(57 * 70vw / 100); /* 100:57 aspect ratio */
	}
}

@media only screen and (min-device-width: 1000px) {
	.card__media img {
		width: 50vw;
	}

	.card[data-state="open"] .card__media img {
		height: calc(57 * 50vw / 100); /* 100:57 aspect ratio */
	}
}