/*--------------------------------//
//                                //
//           Navigation           //
//                                //
//--------------------------------*/
.navigation {
	position: fixed;
	display: flex;
	flex-direction: column;
	top: 4.5em;
	height: calc(100vh - 4.5em);
	left: 0;
	width: 100%;
	color: #FFF;
	color: var(--color-primary-text);
	background-color: #6200EE;
    background-color: var(--color-primary);
	transform: translateX(100vw);
	visibility: hidden;
	z-index: 3;
}

@media (prefers-reduced-motion: no-preference) {
	.navigation {
		transition: transform 0.25s ease-in-out,
			visibility 1ms linear 0.25s;
	}
}

.navigation[data-visible="true"] {
	transform: translateX(0);
	visibility: visible;
}

@media (prefers-reduced-motion: no-preference) {
	.navigation[data-visible="true"] {
		transition: transform 0.25s ease-in-out,
			visibility 1ms linear;
	}
}

.navigation__items {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
}

.navigation__item {
	text-align: center;
	cursor: pointer;

	text-transform: uppercase;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

@media (prefers-reduced-motion: no-preference) {
	.navigation__item {
		transition: color .25s ease;
	}
}

.navigation__link {
	align-items: center;
	display: flex;
	flex-direction: column;
	margin: auto 0;
}

.navigation__item:hover,
.navigation__item:focus {
	opacity: 1;
}

.navigation__item svg {
	padding-top: 0.75rem;
	margin: 0 auto;
	fill: #FFF;
	fill: var(--color-primary-text);
}

.navigation__label {
	font-size: 1.25rem;
	line-height: 2rem;
	letter-spacing: 0.009375rem;
	font-weight: 500;
	padding-bottom: 0.25rem;
	text-transform: uppercase;
}

.navigation__indicator {
	left: 0;
	right: 0;
	background: #03DAC6;
	background: var(--color-secondary);
	bottom: 0;
	height: 0.25em;
	position: absolute;
	transform: scaleY(0);
	transform-origin: bottom;
}

@media (prefers-reduced-motion: no-preference) {
	.navigation__indicator {
		transition: transform .25s ease;
	}
}

@media only screen and (min-device-width: 1000px) {
	.navigation {
		position: unset;
		top: 0;
		height: 4.5em;
		left: unset;
		transform: unset;
		width: 60%;
		right: 0;
		visibility: unset;
	}

	.navigation__items {
		flex-direction: row;
	}

	.navigation__item {
		opacity: 0.75;
		position: relative;
		display: flex;
		flex-direction: column;
		flex-grow: 1;
	}

	.navigation__item--selected {
		opacity: 1;
	}

	.navigation__item--selected .navigation__indicator {
		transform: scaleY(1);
	}
}