.sheet {
	position: relative;
	height: calc(100vh - 4.5em); /* The header bar is 4.5em. */
	overflow: hidden;
	z-index: 0;
}

.sheet:first-child {
	margin-top: 4.5em; /* The header bar is 4.5em. */
}

.sheet#home {
	background: linear-gradient(hsl(265deg 100% 85%), hsl(265deg 100% 90%));
}

.sheet#projects {
	background: linear-gradient(hsl(265deg 100% 90%), hsl(265deg 100% 85%));
}

.sheet#education {
	background: linear-gradient(hsl(265deg 100% 85%), hsl(265deg 100% 90%));
}

.sheet#experience {
	background: linear-gradient(hsl(265deg 100% 90%), hsl(265deg 100% 85%));
}

.sheet#hobbies {
	background: linear-gradient(hsl(265deg 100% 85%), hsl(265deg 100% 90%));
}

body[data-theme="dark"] .sheet#home {
	background: linear-gradient(hsl(174deg 97% 10%), hsl(174deg 97% 15%));
}

body[data-theme="dark"] .sheet#projects {
	background: linear-gradient(hsl(174deg 97% 15%), hsl(174deg 97% 10%));
}

body[data-theme="dark"] .sheet#education {
	background: linear-gradient(hsl(174deg 97% 10%), hsl(174deg 97% 15%));
}

body[data-theme="dark"] .sheet#experience {
	background: linear-gradient(hsl(174deg 97% 15%), hsl(174deg 97% 10%));
}

body[data-theme="dark"] .sheet#hobbies {
	background: linear-gradient(hsl(174deg 97% 10%), hsl(174deg 97% 15%));
}