main {
	background: repeating-linear-gradient(
		var(--color-primary-2),
		var(--color-primary-3) 50vh,
		var(--color-primary-2) 100vh
	);
	flex: 1;
}

body[data-theme="dark"] main {
	background: repeating-linear-gradient(
		var(--color-primary-7),
		var(--color-primary-6) 50vh,
		var(--color-primary-7) 100vh
	);
}